<section>
  <h2>REMARKABLE</h2>
  <p>SPEED & COMFORT</p>
  <p-carousel class="carousel" [value]="products" [numVisible]="4" [numScroll]="1" [circular]="true"
    [responsiveOptions]="responsiveOptions" autoplayInterval="2500">
    <ng-template let-product pTemplate="item" class="">
      <div class="card-wraper">
        <div class="image-wraper">
          <img src={{product.image}} [alt]="product.name" class="" />
          <!-- <div class="relative mx-auto">
            <p-tag [value]="product.inventoryStatus" [severity]="getSeverity(product.inventoryStatus)" class="absolute"
              [ngStyle]="{ 'left.px': 5, 'top.px': 5 }" />
          </div> -->
        </div>
        <section class="product">
          <p class="product-name">{{ product.name }}</p>
          <p class="product-description"> {{ product.description }}</p>
          <p class="product-price">
            {{product.price + ' €'}}
          </p>
          <div class="product-info">
            <button class="card-cart">
              <i class="pi pi-shopping-cart"></i>
            </button>
          </div>
        </section>
      </div>
    </ng-template>
  </p-carousel>
</section>
