<main class="shoe-detail-page">
  <section class="shoe-container">
    <div class="shoe-image">
      <img [src]="product.image" alt="Air Pro X3 Whole Blue" />
    </div>

    <section class="shoe-details">
      <h1>{{product.name}}</h1>
      <p class="category">{{product.category}}</p>
      <p class="price">{{product.price}} € <span>+ Livraison gratuite</span></p>
      <div class="shoe-size">
        <p>Tailles</p>
        <ul>
          <li value="36">36</li>
          <li value="37">37</li>
          <li value="38">38</li>
          <li value="39">39</li>
          <li value="40">40</li>
          <li value="41">41</li>
          <li value="42">42</li>
          <li value="43">43</li>
          <li value="44">44</li>
          <li value="45">45</li>
          <li value="45">45</li>
          <li value="45">45</li>
          <li value="45">45</li>
          <li value="45">45</li>
          <li value="45">45</li>
          <li value="45">45</li>
          <li value="45">45</li>
          <li value="45">45</li>
          <li value="45">45</li>
          <li value="45">45</li>
        </ul>
      </div>

      <div class="actions">
        <button class="add-to-cart">Ajouter au panier <i class="pi pi-shopping-cart"></i></button>
        <button class="add-to-favorites"> Ajouter aux favoris <i class="pi pi-heart"></i></button>
      </div>
    </section>
  </section>

  <div class="tabs">
    <div class="card flex justify-content-center">
      <p-accordion [multiple]="true">
        <p-accordionTab header="Description">
          <p>
            {{product.description}}
          </p>
        </p-accordionTab>
        <p-accordionTab header="Détails">
          <ul *ngFor="let detail of product.details">
            <li>{{detail}}</li>
          </ul>
        </p-accordionTab>
        <p-accordionTab header="Caractéristiques">
          <ul *ngFor="let feature of product.features">
            <li>{{feature}}</li>
          </ul>
        </p-accordionTab>
        <!-- <p-accordionTab header="Avis">
          <p>Aucun avis pour ce produit pour l'instant.</p>
        </p-accordionTab> -->
      </p-accordion>
    </div>
  </div>
  <div class="related-products">
    <h3>PRODUITS LIÉS À CET ARTICLE</h3>
    <div class="related-items">
      <div class="related-item">
        <img src="shoes1.png" alt="Air Pro X3 Whole Green" />
        <p class="item-name">Air Pro X3 Whole Green</p>
        <p class="item-description">Chaussuere pour Homme</p>
        <p class="price">58,00 €</p>
      </div>
      <div class="related-item">
        <img src="shoes2.png" alt="Air Pro X3 Aqua" />
        <p class="item-name">Air Pro X3 Aqua</p>
        <p class="item-description">Chaussuere pour Homme</p>
        <p class="price">58,00 €</p>
      </div>
      <div class="related-item">
        <img src="shoes3.png" alt="Air Pro X3 Blue" />
        <p class="item-name">Air Pro X3 Blue</p>
        <p class="item-description">Chaussuere pour Homme</p>
        <p class="price">55,00 €</p>
      </div>
      <div class="related-item">
        <img src="shoes3.png" alt="Air Pro X3 Blue" />
        <p class="item-name">Air Pro X3 Blue</p>
        <p class="item-description">Chaussuere pour Homme</p>
        <p class="price">55,00 €</p>
      </div>
    </div>
  </div>
</main>