<nav class="navbar">
  <p>
    MyStore
  </p>
  <ul>
    <li><a routerLink="/home" routerLinkActive="active" aria-current="page">HOME</a></li>
    <li><a routerLink="/shop" routerLinkActive="active" aria-current="page">SHOP</a></li>
    <li><a routerLink="/myaccount" routerLinkActive="active" aria-current="page">MY ACCOUNT</a></li>
    <li><a routerLink="/about" routerLinkActive="active" aria-current="page">ABOUT</a></li>
    <li><a routerLink="/contact" routerLinkActive="active" aria-current="page">CONTACT</a></li>
  </ul>
</nav>