<section class="navbar-wrapper">
  <nav class="navbar">
    <p class="title">
      MyStore
    </p>
    <section class="menu-mobile-wrapper">
      <i class="pi pi-bars"></i>
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" aria-current="page">ACCUEIL</a></li>
        <li><a routerLink="/shop" routerLinkActive="active" aria-current="page">BOUTIQUE</a></li>
        <li><a routerLink="/myaccount" routerLinkActive="active" aria-current="page">MON COMPTE</a></li>
        <li><a routerLink="/about" routerLinkActive="active" aria-current="page">À PROPOS</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" aria-current="page">CONTACT</a></li>
      </ul>
    </section>
    <section class="menu-desktop">
      <ul>
        <li><a routerLink="/home" routerLinkActive="active" aria-current="page">ACCUEIL</a></li>
        <li><a routerLink="/shop" routerLinkActive="active" aria-current="page">BOUTIQUE</a></li>
        <li><a routerLink="/myaccount" routerLinkActive="active" aria-current="page">MON COMPTE</a></li>
        <li><a routerLink="/about" routerLinkActive="active" aria-current="page">À PROPOS</a></li>
        <li><a routerLink="/contact" routerLinkActive="active" aria-current="page">CONTACT</a></li>
      </ul>
      <button>
        <i class="pi pi-shopping-cart"></i>
        <p class="cart-quantity">{{quantityProductsInCart}}</p>
      </button>
    </section>
  </nav>
</section>