@if (loading) {
  <div class="loading">
    Loading profile...
  </div>
} @else if (error) {
  <div class="error-message">
    {{ error }}
  </div>
} @else if (user) {
  <section class="profile-container">
    <section class="profile-header">
      <div class="image-profile"></div>
      <div class="profile-info">
        <h2 class="user-name">{{user.username.toUpperCase()}}</h2>
        <p class="membership-status">{{ user.email }}</p>
      </div>
    </section>
    <section class="profile-navigation">
      <div class="settings">
        <h2 (click)="openCloseContentTab('toggleSettingsContent')">Settings</h2>
        <button type="button" class="toggle-tab-content">⬇</button>
  
        <div class="settings-body" [ngClass]="{'display-content': toggleSettingsContent}">
          <h3>Account Information</h3>
  
          <label>Email Address:
  
            <input type="text" class="input-base" [(ngModel)]="user.email">
          </label>
  
          <label>Name:
  
            <input type="text" [(ngModel)]="user.username">
          </label>
          <div class="delete-account">
            <p>Deleting your account is irreversible.</p>
            <p>All your data will be permanently deleted.</p>
            <button type="button" class="button-base" (click)="deleteAccount()">Delete Account</button>
          </div>
        </div>
      </div>
      <div class="favorites">
        <h2 (click)="openCloseContentTab('toggleFavoritesContent')">Favorites</h2>
        <button type="button" class="toggle-tab-content">⬇</button>
        <div class="favorites-body" [ngClass]="{'display-content': toggleFavoritesContent}">
          You have no favorites at the moment.
        </div>
      </div>
      <div class="orders">
        <h2 (click)="openCloseContentTab('toggleCommandeContent')">Orders</h2>
        <button type="button" class="toggle-tab-content">⬇</button>
        <div class="orders-body" [ngClass]="{'display-content': toggleCommandeContent}">
          You have no orders at the moment.
        </div>
      </div>
    </section>
  </section>
} @else {
  <div class="loading">
    Loading profile...
  </div>
}
  