<section class="shoe-making-process">
  <h2>Découvrez comment nos chaussures sont fabriquées</h2>
  <p>
    Nous nous engageons à fabriquer des chaussures de haute qualité en privilégiant des matériaux innovants et durables.
  </p>
  <section class="steps-wrapper">
    <div class="steps-left-side">
      <div class="step">
        <span class="step-number">01.</span>
        <h3>Matériaux de qualité</h3>
        <p>
          Nous sélectionnons des matériaux de haute qualité, garantissant résistance et longévité.
        </p>
      </div>
      <span> </span>
      <div class="step">
        <span class="step-number">02.</span>
        <h3>Semelles innovantes</h3>
        <p>
          Des semelles légères et flexibles offrent un amorti et une adhérence optimaux.
        </p>
      </div>
    </div>
    <div class="image-wrapper">
      <img src="/shoes-making-process.png" alt="shoes-making-process" />
    </div>
    <div class="steps-right-side">
      <div class="step">
        <span class="step-number">03.</span>
        <h3>Couture de précision</h3>
        <p>
          Un assemblage soigné assure solidité et une finition impeccable.
        </p>
      </div>
      <span></span>
      <div class="step">
        <span class="step-number">04.</span>
        <h3>Test de performance</h3>
        <p>
          Chaque paire est testée pour garantir confort et performance.
        </p>
      </div>
    </div>
  </section>
</section>
