<main class="about-us-section">
  <section class="about-intro">
    <h1>Qui sommes-nous ?</h1>
  </section>
  <section class="about-values">
    <div class="about-values-wrapper">
      <h3>Vous aider à rester en forme <p>Depuis 1989</p>
      </h3>
    </div>
  </section>
  <section class="about-steps">
    <div class="about-steps-wrapper">
      <article class="step">
        <span class="step-number">01</span>
        <h4>Recherches</h4>
        <p>
          Nos recherches dédiées nous permettent de rester à l'avant-garde, en découvrant continuellement des moyens
          innovants d'améliorer nos produits.
        </p>
      </article>
      <article class="step">
        <span class="step-number">02</span>
        <h4>Concept & Stratégie</h4>
        <p>
          En transformant les idées en plans d'action, nous concrétisons les concepts initiaux en solutions pratiques.
        </p>
      </article>
      <article class="step">
        <span class="step-number">03</span>
        <h4>Production</h4>
        <p>
          La précision et l'attention aux détails guident notre processus de conception et de production, aboutissant à
          des produits de qualité supérieure.
        </p>
      </article>
      <article class="step">
        <span class="step-number">04</span>
        <h4>Service & Assistance</h4>
        <p>
          Nous sommes fiers d'offrir un service client exceptionnel, garantissant que vous tiriez le meilleur parti de
          nos offres.
        </p>
      </article>
    </div>
  </section>
  <section class="about-history-wrapper">
    <div class="about-history">
      <h4>Notre parcours</h4>
      <p>
        Au fil des ans, nous avons vu de nombreuses évolutions dans l'industrie, et tandis que beaucoup ont suivi les
        tendances, nous sommes restés concentrés sur la qualité authentique. Que vous utilisiez un produit ancien ou
        récent, soyez assuré qu'il a été méticuleusement conçu et est exempt de mauvaises surprises.
      </p>
      <button class="btn-know-more">Découvrir plus</button>
    </div>
  </section>
  <section class="promo-section">
    <div class="promo-image-wrapper">
      <div class="promo-image1">
        <h4>PERFORMANCE</h4>
        <img src="about1.jpg" alt="Image de performance">
      </div>
      <div class="promo-image2">
        <h4>CONFORT</h4>
        <img src="about2.jpg" alt="Image de confort">
      </div>
      <div class="promo-image3">
        <h4>DURABILITÉ</h4>
        <img src="about3.jpg" alt="Image de durabilité">
      </div>
    </div>
    <div class="promo-product">
      <h2>Quantités limitées disponibles !</h2>
      <h3>AirPro X3 Libérez la puissance.</h3>
      <p>
        Conçu pour des performances optimales, l'AirPro X3 repousse les limites du possible, offrant un confort et une
        résistance inégalés. <br> Conçu avec précision pour s'adapter à votre style de vie actif.
      </p>
      <button class="btn-shop-now">Acheter maintenant</button>
    </div>
  </section>
</main>