<p-toast position="top-right" key="confirm" (onClose)="onReject()" [baseZIndex]="5000">
  <ng-template class="test" let-message pTemplate="message">
    <section>
      <section class="product-container">
        <h3>Ajouté au panier</h3>
        <div class="product-details">
          <img src="{{message.detail.image}}" alt="">
          <div class="product-description">
            <p>{{ message.detail.name }}</p>
            <p>{{ message.detail.title }}</p>
            <p>{{ message.detail.price }} €</p>
          </div>
        </div>
        <p-button class="navigate-cart" size="small" label="Afficher le panier" (onClick)="navigateCartPage()" />
      </section>
    </section>
  </ng-template>
</p-toast>
