@if(toggleForm){
<h1>Mon compte</h1>
<form [formGroup]="loginInForm" (ngSubmit)="loginSubmit()">
  <h2>Se connecter</h2>
  <div class="wrapper-input">
    <label for="email">Email :</label>
    <input type="text" id="email" formControlName="email" placeholder="Entrez votre email">
    @if (loginInForm.get("email")?.invalid && loginInForm.get("email")?.touched) {
    <p class="error">L'email est requis</p>
    }
  </div>
  <div class="wrapper-input">
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" formControlName="password" placeholder="Entrez votre mot de passe">
    @if (loginInForm.get("password")?.invalid && loginInForm.get("password")?.touched) {
    <p class="error">Le mot de passe est requis</p>
    }
  </div>

  <button type="submit">Se connecter</button>
  <p class="signup-text">Vous n'avez pas de compte ? <a (click)="switchForm()">Inscrivez-vous</a></p>
</form>
} @else {
<h1>Mon compte</h1>
<form [formGroup]="signUpForm" (ngSubmit)="signUpSubmit()">
  <h2>S'inscrire</h2>
  <div class="wrapper-input">
    <label for="email">Email :</label>
    <input type="text" id="email" formControlName="email" placeholder="Entrez votre email">
    @if (signUpForm.get("email")?.invalid && signUpForm.get("email")?.touched) {
    <p class="error">L'email est requis</p>
    }
  </div>

  <div class="wrapper-input">
    <label for="password">Mot de passe :</label>
    <input type="password" id="password" formControlName="password" placeholder="Entrez votre mot de passe">
    @if (signUpForm.get("password")?.invalid && signUpForm.get("password")?.touched) {
    <p class="error">Le mot de passe est requis</p>
    }
  </div>

  <div class="wrapper-input">
    <label for="name">Nom :</label>
    <input type="text" id="name" formControlName="name" placeholder="Entrez votre nom">
    @if (signUpForm.get("name")?.invalid && signUpForm.get("name")?.touched) {
    <p class="error">Le nom est requis</p>
    }
  </div>

  <button type="submit">S'inscrire</button>
  <p class="signup-text">Vous avez déjà une compte ? <a (click)="switchForm()">Connectez-vous</a></p>
</form>
}