<button class="button-profile" pButton type="button" (click)="toggle($event)">
  <i class="pi pi-user profile" style="font-size: 1.4rem"></i>
</button>
<p-overlayPanel class="pop-over" #op>
  <ul>
    <li (click)="toggle($event)">
      <a routerLink="/profile">Profil</a>
    </li>
    @if (isUserAdmin) {
    <li (click)="toggle($event)">
      <a routerLink="/admin">Admin</a>
    </li>
    }
    <li (click)="toggle($event)">
      <a>Commandes</a>
    </li>
    <li (click)="toggle($event)">
      <a>Favoris</a>
    </li>
    <li (click)="toggle($event)">
      <a>Paramètres du compte</a>
    </li>
  </ul>
  <button type="button" (click)="logout()">Se déconnecter</button>
</p-overlayPanel>
