<main class="cart-item">
  <section class="item-details">
    <div class="product-info">
      <div class="image-wrapper">
        <img src="{{product.image}}" alt="Shoes">
        <div class="quantity-section">
          <i [ngClass]="quantityItems < 2 ? 'pi pi-trash' : 'pi pi-minus'" (click)="removeItem()"></i>
          <p>{{quantityItems}}</p>
          <i class="pi pi-plus" (click)="addItem()"></i>
        </div>
      </div>

      <section class="info-wrapper">
        <div class="price-info">
          <p class="original-price">{{product.price}} €</p>
        </div>
        <div class="product-description">
          <h2 class="product-name">{{product.name}}</h2>
          <p>{{product.title}}</p>
          <p>{{product.color}}</p>
          <p>Taille / Pointure: {{product.size}}</p>
        </div>
      </section>
    </div>

  </section>
</main>
