<main class="cart-item">
  <section class="item-details">
    <div class="product-info">
      <div class="image-wrapper">
        <img src="shoes1.png" alt="Shoes">
      </div>
      <section class="info-wrapper">
        <div class="price-info">
          <p class="original-price">89,99 €</p>
        </div>
        <div class="product-description">
          <h2 class="product-title">Chaussure d'hiver pour homme</h2>
          <p class="product-name">Nike Court Vision Mid</p>
          <p class="product-type">Chaussure d'hiver pour homme</p>
          <p class="product-color">Noir/Phantom/Noir</p>
          <p class="product-size">Taille / Pointure: 45.5</p>
        </div>
      </section>
    </div>
    <div class="quantity-section">
      <i class="pi pi-trash"></i>
      <p>1</p>
      <i class="pi pi-plus"></i>
    </div>
  </section>
</main>